:root {
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #ffffff;
}

[data-theme="dark"] {
  --background: #000000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}
.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
}
