.wrapper {
  width: 100%;
  height: 100px;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  /* background-color: var(--background); */
}

.logo {
  width: 80px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

.search {
  flex: 1;
}

.buttons {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.login {
  border: none;
  width: 66px;
  height: 50px;
  background-color: orangered;
  color: white;
  border-radius: 20px;
}
.register {
  border: none;
  width: 66px;
  height: 50px;
  background-color: rgba(255, 68, 0, 0.589);
  color: white;
  border-radius: 20px;
}
